header {
    height: 150px;
    border: 1px solid green
}
main{
    height: 600px;
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
}
footer{
    height: 250px;
    border: 1px solid blue;
}
aside{
    height: 100%;
    border: 1px solid goldenrod;
    width: 20%;
}
.login-page{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    height: 100vh;
}
.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(3, 117, 117);
    width: 50%;
    height: 60%;
    border-radius: 10px;
    color: aliceblue;
}
.btn-cont{
    width: 10%;
    align-self: center;
    margin-right: 35%;
}
.cr-btn-cont{
    width: 10%;
    align-self: center;
    margin-right: 20%;
}
.logout-cont{
    margin-left: 70%;
}